<div class="row">
  <div class="col-xs-12 col-md-12">
    <form>
      <div class="input-group input-group-lg">
        <input type="text" class="form-control">
        <div class="input-group-btn">
          <button class="btn btn-default"><span class="glyphicon glyphicon-filter"></span>Filter</button>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="row"><div class="col-md-12">&nbsp;</div></div>

<div ng-repeat="(index,items) in chartTitle" class="row">
  <div ng-repeat="(key,item) in items" >
    <div ng-repeat="(id,value) in item"  class="col-md-4">
      <div class="panel-wrapper">
        <div class="panel-title">
          <a ui-sref="organizations.view({id:id})">{{value}}</a>
        </div>
        <div class="panel-stage">
          <div class="row">
            <div class="col-xs-12">
              <div class="panel-wrapper">
                <div class="panel-title">
                  <editable-label value="subTitle" ></editable-label>
                 </div>
                <div class="panel-stage">
                  <canvas id="tables" class="chart chart-line" data="data" labels="labels" colours="colours" legend="true"></canvas>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <div class="panel-wrapper">
                <div class="panel-title"><editable-label value="projects" ></editable-label></div>
                <div class="panel-stage"><editable-label value="projectsList[index][key]" ></editable-label></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
